.navbar-nav {
  margin: auto; }

.menu-principal .logo {
  font-size: 25pt;
  font-family: cursive; }

.menu-principal span {
  color: #fff;
  font-size: 14pt; }

.menu-principal .navbar-nav .nav-link {
  color: #fff;
  font-size: 13pt;
  padding: 0 15px;
  font-family: cursive; }

.menu-principal .navbar-nav .nav-link:hover {
  color: #000;
  font-size: 13pt;
  padding: 0 15px;
  font-family: cursive;
  border-bottom: 3px solid #000;
  background-color: #fff; }

.menu-principal .navbar-nav .nav-link.active {
  color: #000;
  font-size: 13pt;
  padding: 0 15px;
  font-family: cursive;
  border-bottom: 3px solid #000;
  background-color: #fff; }
